{% extends '::base.html.twig' %}

{% block body %}

    <h1>RDS Instance in region: {{ region }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DBInstanceIdentifier</th>
                <th>Instance Class</th>
                <th>MasterUsername</th>
                <th>AvailabilityZone</th>
                <th>Engine</th>
                <th>InstanceCreateTime</th>
                <th>AllocatedStorage</th>
                <th>Storage Type</th>

            </tr>
        </thead>
        <tbody>
    {% for DBInstance in instances %}
        <tr>
                <td>{{ DBInstance.name }}
                    {% if DBInstance.readReplicaParent|length > 0 %}
                    <span class="label label-info"><i class="fa fa-files-o"></i> {{ DBInstance.readReplicaParent }}</span>
                    {% endif %}
                </td>
                <td><span class="label label-warning">{{ DBInstance.instanceType }}</span></td>
                <td>{{ DBInstance.masterUsername }}</td>
            <td>{{ DBInstance.AvailabilityZone }}</td>
            <td><span class="label label-default">{{ DBInstance.Engine }} {{ DBInstance.EngineVersion }}</span></td>
            <td>{{ DBInstance.InstanceCreateTime|date }}</td>
            <td><span class="label label-default">{{ DBInstance.AllocatedStorage }} Go</span></td>
            <td>{{ DBInstance.storageType }}{% if DBInstance.Iops is defined %} <span class="label label-default">{{ DBInstance.Iops }}</span>{% endif %}</td>


        </tr>
        <tr>
            <td></td>
            <th class="success"><small>Endpoint</small></th>
            <td colspan="7"  class="success"><small>{{ DBInstance.Endpoint }}:{{ DBInstance.PortEndpoint }}</small></td>
        </tr>
        {% if DBInstance.readReplicas|length > 0 %}
        <tr>
            <td></td>
            <th  class="info"><small>Read Replicas</small></th>
            <td colspan="7" class="info">
                <small>
                    <ul class="list-group">
                        {%  for replica in DBInstance.readReplicas %}
                        <li class="list-group-item"><i class="fa fa-files-o"></i> {{ replica|split(":")[6] }}</li>
                        {% endfor %}
                    </ul>
                </small>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
