{% extends '::base.html.twig' %}

{% block body %}

    <h1>RDS Instance in region: {{ region }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DBInstanceIdentifier</th>
                <th>DBInstanceClass</th>
                <th>MasterUsername</th>
                <th>AvailabilityZone</th>
                <th>AllocatedStorage</th>
                <th>Engine</th>
                <th>EngineVersion</th>
                <th>InstanceCreateTime</th>
                <th>Iops</th>

            </tr>
        </thead>
        <tbody>
    {% for DBInstance in instances %}
        <tr>
                <td>{{ DBInstance.name }}
                    {% if DBInstance.readReplicaParent|length > 0 %}
                     <small>Replica of: {{ DBInstance.readReplicaParent }}</small>
                    {% endif %}
                </td>
                <td><span class="label label-warning">{{ DBInstance.instanceType }}</span></td>
                <td>{{ DBInstance.masterUsername }}</td>
            <td>{{ DBInstance.AvailabilityZone }}</td>
            <td>{{ DBInstance.AllocatedStorage }} Go</td>
            <td>{{ DBInstance.Engine }}</td>
            <td>{{ DBInstance.EngineVersion }}</td>
            <td>{{ DBInstance.InstanceCreateTime|date }}</td>
            <td>{% if DBInstance.Iops is defined %}{{ DBInstance.Iops }} {% endif %}</td>


        </tr>
        <tr>
            <th><small>Endpoint</small></th>
            <td colspan="8"><small>{{ DBInstance.Endpoint }}:{{ DBInstance.PortEndpoint }}</small></td>
        </tr>
        {% if DBInstance.readReplicas|length > 0 %}
        <tr>
            <th><small>Read Replicas</small></th>
            <td colspan="8">
                <small>
                    <ul>
                        {%  for replica in DBInstance.readReplicas %}
                        <li>{{ replica }}</li>
                        {% endfor %}
                    </ul>
                </small>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
